
.red {
    background-color: red;
}

.pink {
    background-color: pink;
    color: #000;
}

.yellow {
    background-color: #F8F9D7;
    color: #000;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}
